<% if logged_in? %>
	<h1>Hello <%= current_user.name %> family!</h1>
	<%= link_to "Log out", logout_path, method: :delete %>

	<div>Choose your babysitter and babysitting time:<div>
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    	<%= form_with url: { controller: "family_profile", action: "create" }, local: true do |form| %>
				<% @available_babysitting_times.each do |available_babysitting_time|  %>
					<div>
						<%= radio_button_tag(:booked_babysitting_time, available_babysitting_time.id) %>
						<%= label_tag(:booked_babysitting_time, available_babysitting_time.name + ' ' +
																available_babysitting_time.day + ' ' +
																available_babysitting_time.start_time + '-' +
																available_babysitting_time.end_time) %>
					</div>
				<% end %>
				<%= form.submit "Save", class: "btn btn-primary" %>
			<% end %>
	    </div>
	</div>
<% else %>
  <li><%= link_to "Log in", login_path %></li>
<% end %>
